.header-container {
    background-color: rgb(0, 0, 0);
}

.header-text {
    padding-top: 1%;
    padding-left: 8vh;
    padding-bottom: 1%;
    font: 25px verdana;
    color: white;
    font-weight: 550;
}

.side-tile {
    background-color: black;
}

.side-list {
    padding-left: 1vh;
    padding-right: 1vh;
}
.list{
    position: absolute;
    top: 40px;
}
.sideButton {
    padding: 1vh;
    font: 15px verdana;
    color: white;
}

.sideButton:hover {
    color: rgb(240, 93, 93);
}

.tile {
    padding-left: 7vh;
}
.input{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.busca{
    padding-left: 7vh;
    padding-top: 10vh;
    width: 100%;
}
.main-button{
    padding-top: 10vh;
    padding-left: 10vh;
}
.button{
    margin-left: 1vh;
}
table {
    width: 100%;
  }